@page "/"
@page "/Locations"

@using FieldServiceOrganizer.Server.Services
@using FieldServiceOrganizer.Models

@inject ICosmosDbService CosmosDbService
@inject IMelissaApiService MelissaApiService

<h3>LocationList</h3>

<Syncfusion.Blazor.Grids.SfGrid DataSource="@Locations"
                                AllowPaging="true"
                                AllowSorting="true"
                                AllowFiltering="true"
                                Toolbar="@(new List<string>() {"Add"})">

    <GridEvents CommandClicked="OnCommandClicked" TValue="Location" OnActionBegin="OnActionBeginHandler"></GridEvents>
    
    <GridPageSettings PageSize="8"></GridPageSettings>
    
    <GridEditSettings AllowAdding="true"
                      Mode="EditMode.Dialog"
                      AllowDeleting="true"
                      ShowDeleteConfirmDialog="true">
    </GridEditSettings>

    <GridColumns>
        <GridColumn Field="@nameof(Location.Id)"
                    HeaderText="Location ID"
                    IsPrimaryKey="true"
                    Width="180">
        </GridColumn>

        <GridColumn Field="@nameof(Location.OccupantName)"
                    HeaderText="Location"
                    Width="120"
                    ValidationRules="@(new ValidationRules { Required = true })">
        </GridColumn>

        <GridColumn Field="@nameof(Location.FullAddress)"
                    HeaderText="Address"
                    Width="140"
                    ValidationRules="@(new ValidationRules { Required = true })">
        </GridColumn>

        <GridColumn Field="@nameof(Location.City)"
                    HeaderText="City"
                    Width="80"
                    ValidationRules="@(new ValidationRules { Required = true })">
        </GridColumn>

        <GridColumn Field="@nameof(Location.State)"
                    HeaderText="State"
                    Width="40"
                    ValidationRules="@(new ValidationRules { Required = true })">
        </GridColumn>

        <GridColumn Field="@nameof(Location.Zip)"
                    HeaderText="Zip"
                    Width="60">
        </GridColumn>

        <GridColumn HeaderText="Delete" Width="34">
            <GridCommandColumns>
                <GridCommandColumn Type="CommandButtonType.Delete"
                                   ButtonOption="@(new CommandButtonOptions()
                                                   {
                        IconCss="e-icons e-delete", CssClass="e-flat"
                                                   })">
                </GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>


    </GridColumns>
</Syncfusion.Blazor.Grids.SfGrid>

